@page "/production/cassettes"
@using System
@using System.Collections.Generic
@using System.Diagnostics
@using System.Linq
@using MudBlazor
@using Nexus.Core.Domain.Models.Locations
@using Nexus.Core.Domain.Models.Locations.Base
@using Nexus.Core.Domain.Models.Locations.Enums
@using Nexus.Core.Domain.Models.Locations.Interfaces
@using Nexus.Core.Domain.Models.Transports
@inject ITransportRepository TransportRepository
@inject ILocationRepository LocationRepository
@inject ILocationService LocationService
@inject IDialogService DialogService
@inject ILogger<Cassettes> Logger

<MudPaper Class="pa-4">
    @if (_isLoading)
    {
        <div class="d-flex justify-center align-center" style="height: 400px;">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
                <MudText Typo="Typo.subtitle1">데이터를 불러오는 중입니다...</MudText>
            </MudStack>
        </div>
    }
    else
    {
        <MudTable T="CassetteViewModel"
                  Items="@GetFilteredCassettes()"
                  Dense="true"
                  Hover="true"
                  Bordered="true"
                  Striped="true"
                  Elevation="1"
                  RowsPerPage="20"
                  RowsPerPageOptions="@(new int[] { 10, 20, 50 })">
            <ToolBarContent>
                <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="w-100">
                    <MudText Typo="Typo.h6">Cassette Overview</MudText>
                    <MudTextField @bind-Value="_searchTerm"
                                  Placeholder="Search cassettes.."
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium"
                                  Immediate="true"
                                  Margin="Margin.Dense"
                                  Style="max-width: 280px; width: 100%;" />
                </MudStack>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Cassette</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Location</MudTh>
                <MudTh Align="Right">Actions</MudTh>
            </HeaderContent>
            <RowTemplate Context="cassette">
                <MudTd DataLabel="Cassette">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                        <MudIcon Icon="@Icons.Material.Filled.Inventory2" Color="Color.Primary" />
                        <MudText Typo="Typo.body2">@cassette.Cassette.Id</MudText>
                    </MudStack>
                </MudTd>
                <MudTd DataLabel="Name">
                    @if (!string.IsNullOrWhiteSpace(cassette.Cassette.Name))
                    {
                        <MudText Typo="Typo.body2">@cassette.Cassette.Name</MudText>
                    }
                    else
                    {
                        <MudText Typo="Typo.caption" Color="Color.Secondary">이름 없음</MudText>
                    }
                </MudTd>
                <MudTd DataLabel="Location">
                    @if (!string.IsNullOrEmpty(cassette.LocationId))
                    {
                        <MudChip T="string" Color="Color.Info" Variant="Variant.Outlined">@cassette.LocationId</MudChip>
                    }
                    else
                    {
                        <MudText Typo="Typo.caption" Color="Color.Secondary">미배정</MudText>
                    }
                </MudTd>
                <MudTd DataLabel="Actions" Align="Right">
                    <MudTooltip Text="위치 변경">
                        <MudIconButton Icon="@Icons.Material.Filled.Place"
                                      Color="Color.Primary"
                                      OnClick="@(() => ChangeLocationAsync(ELocationType.Cassette, cassette.Cassette.Id, cassette.LocationId))" />
                    </MudTooltip>
                    <MudTooltip Text="위치 해제">
                        <MudIconButton Icon="@Icons.Material.Filled.HighlightOff"
                                      Color="Color.Secondary"
                                      Disabled="@string.IsNullOrEmpty(cassette.LocationId)"
                                      OnClick="@(() => ClearLocationAsync(ELocationType.Cassette, cassette.Cassette.Id, cassette.LocationId))" />
                    </MudTooltip>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText Typo="Typo.body1" Color="Color.Secondary">조건에 맞는 카세트가 없습니다.</MudText>
            </NoRecordsContent>
        </MudTable>
    }
</MudPaper>
